openapi: 3.2.0
info:
  title: Vonage Applications API
  version: 0.1.7
  x-metaDescription: Find quick answers to questions about the Vonage Meetings API in this reference guide. Learn more in Vonage's API documentation.
  x-metaTitle: Vonage Meetings API Reference | Vonage API Documentation
  x-noIndex: true
  description: 'Operations tagged Applications across 2 of this provider''s published API definitions: vonage-meetings-openapi.json, vonage-meetings-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-eu.vonage.com/v1/meetings
tags:
- name: Applications
paths:
  /applications:
    patch:
      summary: Update an existing application
      operationId: updateApplication
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationDetails'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      tags:
      - Applications
    servers:
    - url: https://api-eu.vonage.com/v1/meetings
components:
  schemas:
    NotFoundError:
      type: object
      properties:
        message:
          type: string
          example: Failed to fetch resource with id 50da57f5-0aaf-4ac5-804c-2114afc89197
        name:
          type: string
          example: NotFoundError
        status:
          type: integer
          example: 404
    Application:
      type: object
      properties:
        application_id:
          $ref: '#/components/schemas/ApplicationId'
        account_id:
          $ref: '#/components/schemas/AccountId'
        default_theme_id:
          $ref: '#/components/schemas/Application_DefaultThemeId'
    BadRequestError:
      type: object
      properties:
        message:
          type: string
          example: Explanation about why validation failed.
        name:
          type: string
          example: InputValidationError
        status:
          type: integer
          example: 400
    Application_DefaultThemeId:
      type: string
      format: uuid
      description: The application default theme id
    ApplicationId:
      type: string
      format: uuid
      example: 921a6f5b-1f94-49f4-8107-26f0c75fc6e7
      description: The application Id
    UpdateApplicationDetails:
      type: object
      required:
      - update_details
      properties:
        update_details:
          type: object
          description: Contains information to be updated on the application. It is mandatory to provide at least one value to update; you will receive a 400 response otherwise.
          required:
          - default_theme_id
          properties:
            default_theme_id:
              $ref: '#/components/schemas/Application_DefaultThemeId'
    AccountId:
      type: string
      example: 123ab4cd
      description: The applications account id (ApiKey)
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- vonage-meetings-openapi.json
- vonage-meetings-openapi.yml
x-errors:
  validation:
    description: The provided payload is invalid
    resolution: 'Modify your request to provide a valid payload.

      * Minimum 8 characters

      * Maximum 25 characters

      * Minimum 1 lower case character

      * Minimum 1 upper case character

      * Minimum 1 digit

      '
    link:
      text: View API reference
      url: /api/account#createAPISecret
  delete-last-secret:
    description: You can not delete your only API secret
    resolution: Add another API secret before deleting this one
