openapi: 3.2.0
info:
  title: Vonage Stream API
  version: 5.5.1
  contact:
    name: Vonage DevRel
    email: devrel@vonage.com
    url: https://developer.nexmo.com/
  x-metaDescription: Find quick answers to questions about the Vonage Conversation API (v1.0) in this reference guide. Learn more in Vonage's API documentation.
  x-metaTitle: Vonage Conversation API (v1.0) Reference | Vonage API Documentation
  description: 'Operations tagged stream across 2 of this provider''s published API definitions: vonage-conversation-openapi.json, vonage-conversation-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.nexmo.com/v1
security:
- bearerAuth: []
tags:
- name: Stream
paths:
  /conversations/{conversation_id}/stream:
    parameters:
    - $ref: '#/components/parameters/conversation_id'
    put:
      tags:
      - Stream
      summary: Play an audio file into a conversation
      operationId: startStream
      requestBody:
        description: action to perform
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartStreamRequest'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartStreamResponse'
        '400':
          $ref: '#/components/responses/General400ValidationFailName'
        '401':
          $ref: '#/components/responses/General401InvalidToken'
        '404':
          $ref: '#/components/responses/Conversation404'
        '500':
          $ref: '#/components/responses/General500InternalError'
    delete:
      tags:
      - Stream
      summary: Stop playing an audio file into a conversation
      operationId: stopStream
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopStreamResponse'
        '400':
          $ref: '#/components/responses/General400ValidationFailName'
        '401':
          $ref: '#/components/responses/General401InvalidToken'
        '404':
          $ref: '#/components/responses/Conversation404'
        '500':
          $ref: '#/components/responses/General500InternalError'
    servers:
    - url: https://api.nexmo.com/v1
components:
  responses:
    Conversation404:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/conversation_error_not_found'
    General500InternalError:
      description: Internal Error
      content:
        application/json:
          schema:
            type: object
            properties:
              title:
                type: string
                example: Internal Error.
              type:
                type: string
                example: https://developer.nexmo.com/api/conversation#system:error:internal-error
              code:
                type: string
                example: system:error:internal-error
              detail:
                type: string
                example: Something went wrong.
              instance:
                type: string
                example: 00a5916655d650e920ccf0daf40ef4ee
    General400ValidationFailName:
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              title:
                type: string
                example: Bad request.
              type:
                type: string
                example: https://developer.nexmo.com/api/conversation#http:error:validation-fail
              code:
                type: string
                example: http:error:validation-fail
              detail:
                type: string
                example: Input validation failure.
              instance:
                type: string
                example: 00a5916655d650e920ccf0daf40ef4ee
              invalid_parameters:
                type: array
                description: List of invalid parameters
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      example: name
                    reason:
                      type: string
                      example: '"name" must be a string'
    General401InvalidToken:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              title:
                type: string
                example: Unauthorized.
              type:
                type: string
                example: https://developer.nexmo.com/api/conversation#system:error:invalid-token
              code:
                type: string
                example: system:error:invalid-token
              detail:
                type: string
                example: You did not provide a valid token. Please provide a valid token.
              instance:
                type: string
                example: 00a5916655d650e920ccf0daf40ef4ee
  schemas:
    StopStreamResponse:
      type: object
      properties:
        message:
          description: Description of the action taken
          type: string
          example: Stream stopped
        uuid:
          type: string
          example: ef5400a8-6131-4aa7-9913-11d58ddaeab9
    conversation_error_not_found:
      type: object
      description: Conversation not found
      properties:
        title:
          type: string
          example: Not found.
        type:
          type: string
          example: https://developer.nexmo.com/api/conversation#conversation:error:not-found
        code:
          type: string
          example: conversation:error:not-found
        detail:
          type: string
          example: Conversation does not exist, or you do not have access.
        instance:
          type: string
          example: 00a5916655d650e920ccf0daf40ef4ee
    StartStreamRequest:
      type: object
      required:
      - stream_url
      properties:
        stream_url:
          x-nexmo-developer-collection-description-shown: true
          example:
          - https://example.com/waiting.mp3
          type: array
          items:
            type: string
        loop:
          type: integer
          description: the number of times to play the file, 0 for infinite
          default: 1
        level:
          type: string
          description: Set the audio level of the stream in the range `-1 >= level <= 1` with a precision of 0.1. The default value is 0.
          example: '0.4'
          default: '0'
    StartStreamResponse:
      type: object
      properties:
        message:
          description: Description of the action taken
          type: string
          example: Stream started
        uuid:
          type: string
          example: ef5400a8-6131-4aa7-9913-11d58ddaeab9
  parameters:
    conversation_id:
      name: conversation_id
      in: path
      required: true
      description: Conversation ID
      example: CON-f972836a-550f-45fa-956c-12a2ab5b7d22
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- vonage-conversation-openapi.json
- vonage-conversation-openapi.yml
x-errors:
  validation:
    description: The provided payload is invalid
    resolution: 'Modify your request to provide a valid payload.

      * Minimum 8 characters

      * Maximum 25 characters

      * Minimum 1 lower case character

      * Minimum 1 upper case character

      * Minimum 1 digit

      '
    link:
      text: View API reference
      url: /api/account#createAPISecret
  delete-last-secret:
    description: You can not delete your only API secret
    resolution: Add another API secret before deleting this one
