openapi: 3.2.0
info:
  title: Vonage Fraud Management API
  version: 1.2.4
  contact:
    name: Vonage DevRel
    email: devrel@vonage.com
    url: https://developer.nexmo.com/
  license:
    name: The MIT License (MIT)
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.nexmo.com/terms-of-use
  x-label: Deprecated
  x-metaDescription: Find quick answers to questions about the Vonage Verify API (v1.0) in this reference guide. Learn more in Vonage's API documentation.
  x-metaTitle: Vonage Verify v1.0 API Reference | Vonage API Documentation
  description: 'Operations tagged Fraud Management across 2 of this provider''s published API definitions: vonage-verify-openapi.json, vonage-verify-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.nexmo.com/verify
security:
- basicAuth: []
tags:
- name: Fraud Management
  description: Fraud Management
paths:
  /network-unblock:
    post:
      operationId: networkUnblock
      summary: Request a network unblock
      description: Request to unblock a network that has been blocked due to potential fraud detection.
      x-note:
        type: alert
        icon: warning-line
        header: Network Unblock is switched off by default.
        description: Please contact Sales to enable the Network Unblock API for your account.
      tags:
      - Fraud Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/networkUnblock'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/networkUnblockResponseOk'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/networkUnblockResponseForbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/networkUnblockResponseNotFound'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/networkUnblockResponseUnprocessableNetwork'
                - $ref: '#/components/schemas/networkUnblockResponseInvalidDuration'
        '429':
          description: Rate Limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorThrottled'
    servers:
    - url: https://api.nexmo.com/verify
components:
  schemas:
    networkUnblockResponseOk:
      type: object
      description: Success
      xml:
        name: networkUnblockResponse
      properties:
        network:
          type: string
          description: The unique network ID
          example: '23410'
        unblocked_until:
          type: string
          description: Gives the DateTime when the unblock will expire.
          example: '2024-04-22T08:34:58Z'
    networkUnblockResponseForbidden:
      type: object
      description: Forbidden
      xml:
        name: networkUnblockResponseForbidden
      properties:
        type:
          type: string
          description: A URL link to the API documentation for this type of error.
          example: https://developer.vonage.com/api-errors#forbidden
        title:
          type: string
          description: Full string text of the HTTP error code.
          example: Forbidden
        detail:
          type: string
          description: Verbose description of the server error.
          example: Your account does not have permission to perform this action.
        instance:
          type: string
          description: The Instance ID
          example: bf0ca0bf927b3b52e3cb03217e1a1ddf
    networkUnblockResponseInvalidDuration:
      type: object
      description: Invalid Duration
      xml:
        name: networkUnblockResponseInvalidDuration
      properties:
        type:
          type: string
          description: A URL link to the API documentation for this type of error.
          example: https://developer.vonage.com/api-errors#invalid-paramater
        title:
          type: string
          description: Full string text of the HTTP error code.
          example: Invalid unblock_duration parameter
        detail:
          type: string
          description: Verbose description of the server error.
          example: Unblock duration is invalid.
        instance:
          type: string
          description: The Instance ID
          example: bf0ca0bf927b3b52e3cb03217e1a1ddf
        invalid_parameters:
          type: array
          description: Detailed payload of errors.
          items:
            type: object
            properties:
              name:
                description: The name of the parameter.
                example: network
                type: string
              reason:
                description: The reason for the parameter error.
                example: Network not found
                type: string
    ErrorThrottled:
      type: object
      required:
      - type
      - title
      - detail
      - instance
      properties:
        type:
          type: string
          description: Link to error / remediation options
          example: https://developer.vonage.com/api-errors/verify#rate-limit
        title:
          type: string
          description: Generic error message
          example: Rate Limit Hit
        detail:
          type: string
          description: Additional information about the error
          example: Please wait, then retry your request
        instance:
          type: string
          description: Internal Trace ID
          example: bf0ca0bf927b3b52e3cb03217e1a1ddf
    networkUnblockResponseUnprocessableNetwork:
      type: object
      description: Invalid Network
      xml:
        name: networkUnblockResponseUnprocessableNetwork
      properties:
        type:
          type: string
          description: A URL link to the API documentation for this type of error.
          example: https://developer.vonage.com/api-errors#invalid-paramater
        title:
          type: string
          description: Full string text of the HTTP error code.
          example: Network not found.
        detail:
          type: string
          description: Verbose description of the server error.
          example: Network is not in the request.
        instance:
          type: string
          description: The Instance ID
          example: bf0ca0bf927b3b52e3cb03217e1a1ddf
        invalid_parameters:
          type: array
          description: Detailed payload of errors.
          items:
            type: object
            properties:
              name:
                description: The name of the parameter.
                example: network
                type: string
              reason:
                description: The reason for the parameter error.
                example: Network not found
                type: string
    networkUnblock:
      type: object
      properties:
        network:
          type: string
          description: The Network code
          example: 32526
        unblock_duration:
          type: integer
          required:
          - 'false'
          minimum: 0
          maximum: 86400
          default: 3600
          description: An optional duration the unblock will be applied for in seconds
          example: '3600'
    networkUnblockResponseNotFound:
      type: object
      description: Not Found
      xml:
        name: networkUnblockResponseNotFound
      properties:
        type:
          type: string
          description: A URL link to the API documentation for this type of error.
          example: https://developer.vonage.com/api-errors#bad-request
        title:
          type: string
          description: Full string text of the HTTP error code.
          example: Not Found
        detail:
          type: string
          description: Verbose description of the server error.
          example: The network you provided does not have an active block.
        instance:
          type: string
          description: InstanceID
          example: bf0ca0bf927b3b52e3cb03217e1a1ddf
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  description: More information on the Verify product on our Developer Portal
  url: https://developer.nexmo.com/verify/overview
x-refined-from:
- vonage-verify-openapi.json
- vonage-verify-openapi.yml
x-errors:
  validation:
    description: The provided payload is invalid
    resolution: 'Modify your request to provide a valid payload.

      * Minimum 8 characters

      * Maximum 25 characters

      * Minimum 1 lower case character

      * Minimum 1 upper case character

      * Minimum 1 digit

      '
    link:
      text: View API reference
      url: /api/account#createAPISecret
  delete-last-secret:
    description: You can not delete your only API secret
    resolution: Add another API secret before deleting this one
