{
   "openapi": "3.0.1",
   "info": {
      "title": "Reports API",
      "description": "The [Reports API](https://developer.vonage.com/en/reports/overview) enables you to request a report of activity for your Vonage account.\n\nDepending on your query pattern, you can choose from one of the two versions of the Reports API: asynchronous and synchronous. The asynchronous version is optimized for infrequent and large data queries (from several records to tens of millions). The synchronous version is optimized for frequent and periodic retrievals of small batches of data records (from one record to tens of thousand per query).\n\nOnly synchronous version supports retrival of data records by message/record ID.\n\nVonage recommends that you limit asynchronous queries to a maximum of 7 million records, by setting the start and end dates accordingly. On average, the asynchronous Reports API takes 5 - 10 minutes to generate 1 million records.\n\n> **Reports API is a paid product.** Full pricing is available at <https://www.vonage.com/communications-apis/reports/pricing>.",
      "termsOfService": "https://www.nexmo.com/terms-of-use",
      "contact": {
         "name": "Vonage DevRel",
         "url": "https://developer.vonage.com/",
         "email": "devrel@vonage.com"
      },
      "license": {
         "name": "The MIT License (MIT)",
         "url": "https://opensource.org/licenses/MIT"
      },
      "version": "3.1.4",
      "x-metaTitle": "Vonage Reports API Reference | Vonage API Documentation",
      "x-metaDescription": "Find quick answers to questions about the Vonage Reports API in this reference guide. Learn more in Vonage's API documentation."
   },
   "servers": [
      {
         "url": "https://api.nexmo.com",
         "description": "Production server"
      }
   ],
   "security": [
      {
         "basicAuth": []
      }
   ],
   "paths": {
      "/v2/reports/records": {
         "get": {
            "summary": "Load records synchronously",
            "description": "Generate and immediately return report data synchronously. Supports query parameters for filtering. For large datasets, consider using asynchronous reports instead. Two query modes are supported: date-based queries (using date_start/date_end) or ID-based queries (using the id parameter). Only synchronous version supports retrival of data records by message/record ID. When using ID queries, only a limited subset of parameters are allowed: product, account_id, direction, id, include_message, show_concatenated.",
            "operationId": "createSyncReportPublic",
            "parameters": [
               {
                  "name": "product",
                  "in": "query",
                  "description": "The product to return records for.",
                  "required": true,
                  "schema": {
                     "type": "string",
                     "enum": [
                        "SMS",
                        "SMS-TRAFFIC-CONTROL",
                        "VOICE-CALL",
                        "VOICE-FAILED",
                        "VOICE-TTS",
                        "IN-APP-VOICE",
                        "WEBSOCKET-CALL",
                        "ASR",
                        "AMD",
                        "VERIFY-API",
                        "VERIFY-V2",
                        "NUMBER-INSIGHT",
                        "CONVERSATION-EVENT",
                        "CONVERSATION-MESSAGE",
                        "MESSAGES",
                        "VIDEO-API",
                        "NETWORK-API-EVENT",
                        "REPORTS-USAGE"
                     ]
                  }
               },
               {
                  "name": "account_id",
                  "in": "query",
                  "description": "The account ID (API key) you wish to search for. This can differ from the API key in the authorization header because some accounts can request reports for other accounts, e.g. a primary account owner wants to create a report for one of its subaccounts.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "date_start",
                  "in": "query",
                  "description": "ISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date (format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`) for when reports \n        should begin. It filters on the time the API call was received by Vonage and corresponds to the field `date_received` (`date_start` for Voice) in the report file. It is\n        inclusive, i.e. the provided value is less than or equal to the value in the field `date_received` (`date_start` for Voice) in the CDR.<br>If unspecified, defaults\n        to seven days ago.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "date_end",
                  "in": "query",
                  "description": "ISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date (format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`) for when report should end.\n        It is exclusive, i.e. the provided value is strictly greater than the value in the field `date_received` in the CDR. <br>If unspecified, defaults to the current time.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "cursor",
                  "in": "query",
                  "description": "Pagination cursor for retrieving the next page of results (date-based queries only)",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "iv",
                  "in": "query",
                  "description": "Initialization vector for encrypted cursor pagination (date-based queries only)",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "id",
                  "in": "query",
                  "description": "The UUID of the message or call to be searched for. You can specify a comma-separated list of UUIDs (maximum 20 UUIDs). If UUIDs are not found they are listed in the response in the `ids_not_found` field.\nWhen the `id` parameter is specified, only the following parameters are accepted: `product`, `account_id`, `direction`, `include_message` and `show_concatenated`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "direction",
                  "in": "query",
                  "description": "Direction of the communication, either `inbound` (received by our services), or `outbound` (originated from our services). Required for products `SMS` and `MESSAGES`. Optional for `VOICE-CALL`,`VOICE-FAILED`, `ASR`.",
                  "schema": {
                     "type": "string",
                     "enum": [
                        "inbound",
                        "outbound"
                     ]
                  }
               },
               {
                  "name": "status",
                  "in": "query",
                  "description": "Status of the event. Optional for `SMS`, `CONVERSATION-EVENT`, `IN-APP-VOICE`, `MESSAGES`, `VOICE-CAL`, `VERIFY-V2`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "from",
                  "in": "query",
                  "description": "Sender ID/number. Optional for `SMS`, `MESSAGES`, `VOICE-CALL`, `VOICE-FAILED`, `ASR`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "to",
                  "in": "query",
                  "description": "Recipient phone number. Optioanl for `SMS`, `VOICE-CALL`, `VOICE-FAILED`, `ASR`, `MESSAGES`, `VERIFY-API`, `VERIFY-V2`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "country",
                  "in": "query",
                  "description": "Country code filter. Optional for `SMS`, `VOICE-CALL`, `VOICE-FAILED`, `ASR`, `MESSAGES`, `VERIFY-API`, `VERIFY-V2`, `NUMBER-INSIGHT`, `NETWORK-API-EVENT`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "network",
                  "in": "query",
                  "description": "Mobile network code filter. Optional for `SMS`, `VOICE-CALL`, `VOICE-FAILED`, `ASR`, `VERIFY-API`, `VERIFY-V2`, `NUMBER-INSIGHT`, `NETWORK-API-EVENT`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "number",
                  "in": "query",
                  "description": "Phone number for lookup. Optional for `NUMBER-INSIGHT`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "locale",
                  "in": "query",
                  "description": "Language/locale. Optional for `VERIFY-API`, `VERIFY-V2`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "include_message",
                  "in": "query",
                  "description": "Include message content in response. Optional for `SMS`, `MESSAGES`.",
                  "schema": {
                     "type": "boolean"
                  }
               },
               {
                  "name": "show_concatenated",
                  "in": "query",
                  "description": "A boolean flag that determines whether the `concatenated` field is included in the report. Optional for `SMS` with `direction=outbound`.",
                  "schema": {
                     "type": "boolean"
                  }
               },
               {
                  "name": "account_ref",
                  "in": "query",
                  "description": "Account reference. Optional for `SMS`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "call_id",
                  "in": "query",
                  "description": "Unique call identifier. Optional for `AMD`, `ASR`, `VOICE-CALL`, `VOICE-FAILED`, `VOICE-TTS`, `WEBSOCKET-CALL`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "leg_id",
                  "in": "query",
                  "description": "Unique leg identifier for the call. Optional for `IN-APP-VOICE`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "provider",
                  "in": "query",
                  "description": "Messaging provider. Optional for `MESSAGES`.",
                  "schema": {
                     "type": "string",
                     "enum": [
                        "whatsapp",
                        "sms",
                        "mms",
                        "messenger",
                        "viber_service_msg",
                        "instagram",
                        "rcs",
                        "email"
                     ]
                  }
               },
               {
                  "name": "number_type",
                  "in": "query",
                  "description": "Number type. Optional for `VERIFY-API`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "channel",
                  "in": "query",
                  "description": "Verification channel. Optional for `VERIFY-V2`.",
                  "schema": {
                     "type": "string",
                     "enum": [
                        "v2",
                        "email",
                        "silent_auth"
                     ]
                  }
               },
               {
                  "name": "parent_request_id",
                  "in": "query",
                  "description": "Filter by parent request ID, which correlates `v2` verification requests with their associated `email` or `silent_auth` events. Optional for `VERIFY-V2`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "request_type",
                  "in": "query",
                  "description": "Type of Request. Optional for `NETWORK-API-EVENT`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "risk",
                  "in": "query",
                  "description": "Risk assessment level.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "swapped",
                  "in": "query",
                  "description": "Whether the number has been ported/swapped.",
                  "schema": {
                     "type": "boolean"
                  }
               },
               {
                  "name": "conversation_id",
                  "in": "query",
                  "description": "Conversation ID. Optional for `CONVERSATION-EVENT`, `CONVERSATION-MESSAGE`, `IN-APP-VOICE`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "session_id",
                  "in": "query",
                  "description": "Session ID. Optional for `VIDEO-API`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "meeting_id",
                  "in": "query",
                  "description": "Meeting ID. Optional for `VIDEO-API`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "product_name",
                  "in": "query",
                  "description": "Product name for Network API event. Optional for `NETWORK-API-EVENT`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "request_session_id",
                  "in": "query",
                  "description": "Session ID for Network API. Optional for `NETWORK-API-EVENT`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "product_path",
                  "in": "query",
                  "description": "API path. Optional for `NETWORK-API-EVENT`.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "correlation_id",
                  "in": "query",
                  "description": "Correlation ID. Optional for `NETWORK-API-EVENT`.",
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "responses": {
               "200": {
                  "$ref": "#/components/responses/ReportsRecords200"
               },
               "401": {
                  "$ref": "#/components/responses/401"
               },
               "403": {
                  "$ref": "#/components/responses/403"
               },
               "422": {
                  "$ref": "#/components/responses/422"
               },
               "429": {
                  "$ref": "#/components/responses/429"
               },
               "500": {
                  "$ref": "#/components/responses/500"
               }
            },
            "security": [
               {
                  "basicAuth": []
               }
            ]
         }
      },
      "/v2/reports": {
         "post": {
            "summary": "Create an asynchronous report",
            "description": "Creates an asynchronous report generation request. The report will be processed in the background and you can check its status using the returned report ID. The API returns a combination of the standard required fields and those specified in the input payload.",
            "operationId": "createAsyncReportPublic",
            "requestBody": {
               "description": "Report request parameters",
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/AnyAsyncRequestParams"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "$ref": "#/components/responses/ReportsAsync200"
               },
               "400": {
                  "$ref": "#/components/responses/400"
               },
               "401": {
                  "$ref": "#/components/responses/401"
               },
               "403": {
                  "$ref": "#/components/responses/403"
               },
               "422": {
                  "$ref": "#/components/responses/422"
               },
               "429": {
                  "$ref": "#/components/responses/429"
               },
               "500": {
                  "$ref": "#/components/responses/500"
               }
            },
            "security": [
               {
                  "basicAuth": []
               }
            ]
         }
      },
      "/v2/reports/{reportId}": {
         "get": {
            "summary": "Get status of report",
            "description": "Retrieve the status and details of an asynchronous report using its report ID. \nNote that there is a data retention period of 4 days, so reports older than 4 days will not be able to be retrieved.",
            "operationId": "getAsyncReportPublic",
            "parameters": [
               {
                  "name": "reportId",
                  "in": "path",
                  "description": "Unique identifier of the report (`request_id` in response).",
                  "required": true,
                  "schema": {
                     "type": "string"
                  },
                  "example": "aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
               }
            ],
            "responses": {
               "200": {
                  "$ref": "#/components/responses/ReportStatus200"
               },
               "401": {
                  "$ref": "#/components/responses/401"
               },
               "404": {
                  "$ref": "#/components/responses/404"
               },
               "429": {
                  "$ref": "#/components/responses/429"
               },
               "500": {
                  "$ref": "#/components/responses/500"
               }
            },
            "security": [
               {
                  "basicAuth": []
               }
            ]
         },
         "delete": {
            "summary": "Cancel the execution of a report",
            "description": "Abort a pending or processing asynchronous report. Reports that are already completed cannot be aborted.",
            "operationId": "abortAsyncReportPublic",
            "parameters": [
               {
                  "name": "reportId",
                  "in": "path",
                  "description": "Unique identifier of the report to abort (`request_id` in response).",
                  "required": true,
                  "schema": {
                     "type": "string"
                  },
                  "example": "aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
               }
            ],
            "responses": {
               "200": {
                  "$ref": "#/components/responses/ReportDelete200"
               },
               "401": {
                  "$ref": "#/components/responses/401"
               },
               "404": {
                  "$ref": "#/components/responses/404"
               },
               "409": {
                  "$ref": "#/components/responses/409"
               },
               "429": {
                  "$ref": "#/components/responses/429"
               },
               "500": {
                  "$ref": "#/components/responses/500"
               }
            },
            "security": [
               {
                  "basicAuth": []
               }
            ]
         }
      },
      "/v3/media/{file_id}": {
         "get": {
            "operationId": "download-report",
            "security": [
               {
                  "basicAuth": []
               }
            ],
            "summary": "Get report data",
            "description": "Download a zipped archive of the rendered report. The file is available for download for 72 hours.<br> The zip file will be named `<PRODUCT>_<REPORT_ID>.zip`<br> The csv file in the zip archive will be named as `report_<PRODUCT>_<ACCOUNT_ID>_<DATE>.csv` the date will be formatted as `yyyyMMdd`.\n",
            "parameters": [
               {
                  "name": "file_id",
                  "in": "path",
                  "schema": {
                     "type": "string",
                     "example": "aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
                  },
                  "description": "UUID of the file.",
                  "required": true
               }
            ],
            "responses": {
               "200": {
                  "$ref": "#/components/responses/MediaDownload200"
               },
               "401": {
                  "$ref": "#/components/responses/401"
               },
               "404": {
                  "$ref": "#/components/responses/404"
               },
               "429": {
                  "$ref": "#/components/responses/429"
               },
               "500": {
                  "$ref": "#/components/responses/500"
               }
            }
         }
      }
   },
   "components": {
      "responses": {
         "400": {
            "description": "Bad Request",
            "headers": {
               "X-Request-Id": {
                  "$ref": "#/components/headers/X-Request-Id"
               }
            },
            "content": {
               "application/problem+json": {
                  "schema": {
                     "$ref": "#/components/schemas/ErrorResponseWithInvalidParameters"
                  }
               }
            }
         },
         "401": {
            "description": "Authentication failure",
            "headers": {
               "X-Request-Id": {
                  "$ref": "#/components/headers/X-Request-Id"
               }
            },
            "content": {
               "application/problem+json": {
                  "schema": {
                     "oneOf": [
                        {
                           "description": "Missing or Invalid Credentials",
                           "type": "object",
                           "required": [
                              "type",
                              "title",
                              "instance"
                           ],
                           "properties": {
                              "type": {
                                 "type": "string",
                                 "description": "Link to error / remediation options",
                                 "example": "https://developer.vonage.com/api-errors/#unathorized"
                              },
                              "title": {
                                 "type": "string",
                                 "description": "Generic error message",
                                 "example": "You did not provide correct credentials."
                              },
                              "detail": {
                                 "type": "string",
                                 "description": "Additional information about the error",
                                 "example": "Check that you're using the correct credentials, and that your account has this feature enabled"
                              },
                              "instance": {
                                 "type": "string",
                                 "description": "Internal Trace ID",
                                 "example": "bf0ca0bf927b3b52e3cb03217e1a1ddf"
                              }
                           }
                        },
                        {
                           "description": "Invalid Application Type",
                           "type": "object",
                           "required": [
                              "type",
                              "title",
                              "instance"
                           ],
                           "properties": {
                              "type": {
                                 "type": "string",
                                 "description": "Link to error / remediation options",
                                 "example": "https://developer.vonage.com/api-errors/#unprovisioned"
                              },
                              "title": {
                                 "type": "string",
                                 "description": "Generic error message",
                                 "example": "The crendentials provided do not have access to the requested product"
                              },
                              "detail": {
                                 "type": "string",
                                 "description": "Additional information about the error",
                                 "example": "Check your API key is correct and has been whitelisted"
                              },
                              "instance": {
                                 "type": "string",
                                 "description": "Internal Trace ID",
                                 "example": "bf0ca0bf927b3b52e3cb03217e1a1ddf"
                              }
                           }
                        }
                     ]
                  }
               }
            }
         },
         "403": {
            "description": "Forbidden",
            "headers": {
               "X-Request-Id": {
                  "$ref": "#/components/headers/X-Request-Id"
               }
            },
            "content": {
               "application/problem+json": {
                  "schema": {
                     "$ref": "#/components/schemas/ErrorResponse"
                  }
               }
            }
         },
         "404": {
            "description": "Not Found",
            "headers": {
               "X-Request-Id": {
                  "$ref": "#/components/headers/X-Request-Id"
               }
            },
            "content": {
               "application/problem+json": {
                  "schema": {
                     "$ref": "#/components/schemas/ErrorResponse"
                  }
               }
            }
         },
         "409": {
            "description": "Conflict",
            "headers": {
               "X-Request-Id": {
                  "$ref": "#/components/headers/X-Request-Id"
               }
            },
            "content": {
               "application/problem+json": {
                  "schema": {
                     "$ref": "#/components/schemas/ErrorResponse"
                  }
               }
            }
         },
         "422": {
            "description": "Unprocessable Entity",
            "headers": {
               "X-Request-Id": {
                  "$ref": "#/components/headers/X-Request-Id"
               }
            },
            "content": {
               "application/problem+json": {
                  "schema": {
                     "$ref": "#/components/schemas/ErrorResponseWithInvalidParameters"
                  }
               }
            }
         },
         "429": {
            "description": "Too Many Requests",
            "headers": {
               "X-Request-Id": {
                  "$ref": "#/components/headers/X-Request-Id"
               },
               "X-RateLimit-Limit": {
                  "$ref": "#/components/headers/X-RateLimit-Limit"
               },
               "X-RateLimit-Remaining": {
                  "$ref": "#/components/headers/X-RateLimit-Remaining"
               },
               "X-RateLimit-Reset": {
                  "$ref": "#/components/headers/X-RateLimit-Reset"
               },
               "Retry-After": {
                  "$ref": "#/components/headers/Retry-After"
               }
            },
            "content": {
               "application/problem+json": {
                  "schema": {
                     "$ref": "#/components/schemas/ErrorResponse"
                  }
               }
            }
         },
         "500": {
            "description": "Internal error",
            "headers": {
               "X-Request-Id": {
                  "$ref": "#/components/headers/X-Request-Id"
               }
            },
            "content": {
               "application/problem+json": {
                  "schema": {
                     "$ref": "#/components/schemas/ErrorResponse"
                  }
               }
            }
         },
         "ReportsRecords200": {
            "description": "Report data retrieved successfully",
            "headers": {
               "X-Request-Id": {
                  "$ref": "#/components/headers/X-Request-Id"
               }
            },
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AnyRecordsResponse"
                  }
               }
            }
         },
         "ReportsAsync200": {
            "description": "Report creation request accepted",
            "headers": {
               "X-Request-Id": {
                  "$ref": "#/components/headers/X-Request-Id"
               }
            },
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AnyReportResponse"
                  }
               }
            }
         },
         "ReportStatus200": {
            "description": "Report details retrieved successfully",
            "headers": {
               "X-Request-Id": {
                  "$ref": "#/components/headers/X-Request-Id"
               }
            },
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AnyReportResponse"
                  }
               }
            }
         },
         "ReportDelete200": {
            "description": "Report aborted successfully",
            "headers": {
               "X-Request-Id": {
                  "$ref": "#/components/headers/X-Request-Id"
               }
            },
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AnyReportResponse"
                  }
               }
            }
         },
         "MediaDownload200": {
            "description": "Zip file containing CSV report data",
            "headers": {
               "X-Request-Id": {
                  "$ref": "#/components/headers/X-Request-Id"
               }
            },
            "content": {
               "application/json": {
                  "schema": {
                     "type": "object",
                     "description": "Download initiated successfully"
                  }
               },
               "application/octet-stream": {
                  "schema": {
                     "type": "object",
                     "properties": {
                        "report": {
                           "type": "array",
                           "description": "The report in CSV format inside the zip archive.",
                           "items": {
                              "type": "object",
                              "anyOf": [
                                 {
                                    "$ref": "#/components/schemas/ReportsUsageRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/SmsOutboundRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/SmsInboundRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/VoiceRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/VoiceFailedRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/VoiceTtsRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/VoiceInAppRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/VoiceWebSocketRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/VerifyRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/VerifyV2Record"
                                 },
                                 {
                                    "$ref": "#/components/schemas/NumberInsightRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/NumberInsightV2Record"
                                 },
                                 {
                                    "$ref": "#/components/schemas/MessagesOutboundRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/MessagesInboundRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/VoiceAsrRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/VoiceAmdRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/SmsTrafficControlRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/ConversationsEventRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/ConversationsMessageRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/NetworkApiEventRecord"
                                 },
                                 {
                                    "$ref": "#/components/schemas/VideoApiRecord"
                                 }
                              ]
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "schemas": {
         "BaseRequestParams": {
            "required": [
               "account_id",
               "product"
            ],
            "type": "object",
            "properties": {
               "product": {
                  "type": "string",
                  "description": "Product type for the report",
                  "example": "SMS",
                  "enum": [
                     "SMS",
                     "SMS-TRAFFIC-CONTROL",
                     "VOICE-CALL",
                     "VOICE-FAILED",
                     "VOICE-TTS",
                     "IN-APP-VOICE",
                     "WEBSOCKET-CALL",
                     "ASR",
                     "AMD",
                     "VERIFY-API",
                     "NUMBER-INSIGHT",
                     "VERIFY-V2",
                     "CONVERSATION-EVENT",
                     "CONVERSATION-MESSAGE",
                     "MESSAGES",
                     "VIDEO-API",
                     "NETWORK-API-EVENT",
                     "REPORTS-USAGE"
                  ]
               },
               "account_id": {
                  "type": "string",
                  "description": "The account ID (API key) you wish to search for. This can differ from the API key in the authorization header because some accounts can request reports for other accounts, e.g. a primary account owner wants to create a report for one of its subaccounts.",
                  "example": "12aa3456"
               },
               "date_start": {
                  "type": "string",
                  "description": "Start date for the report (ISO 8601 format). Not mandatory for async requests - defaults to CURRENT_TIME-7D if not provided.",
                  "example": "2024-02-02T13:50:00+00:00"
               },
               "date_end": {
                  "type": "string",
                  "description": "End date for the report (ISO 8601 format). Defaults to current time if not provided.",
                  "example": "2024-02-07T14:22:08+00:00"
               }
            },
            "description": "Base parameters for all report requests"
         },
         "AsyncRequestFields": {
            "type": "object",
            "properties": {
               "include_subaccounts": {
                  "type": "boolean",
                  "description": "Include data from sub-accounts",
                  "example": true
               },
               "callback_url": {
                  "type": "string",
                  "description": "Webhook URL for completion notifications",
                  "format": "uri",
                  "example": "https://example.com/webhook"
               }
            },
            "description": "Fields for asynchronous report requests"
         },
         "AsyncBaseRequest": {
            "description": "Base structure for asynchronous report request bodies",
            "allOf": [
               {
                  "$ref": "#/components/schemas/BaseRequestParams"
               },
               {
                  "$ref": "#/components/schemas/AsyncRequestFields"
               }
            ]
         },
         "SyncBaseRequest": {
            "description": "Base structure for synchronous report request parameters",
            "allOf": [
               {
                  "$ref": "#/components/schemas/BaseRequestParams"
               }
            ]
         },
         "ReportResponseBase": {
            "required": [
               "_links",
               "items_count",
               "receive_time",
               "request_id",
               "request_status",
               "start_time"
            ],
            "type": "object",
            "properties": {
               "request_id": {
                  "type": "string",
                  "description": "UUID of the request.",
                  "example": "aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
               },
               "request_status": {
                  "type": "string",
                  "description": "Status of the request.",
                  "example": "PENDING",
                  "enum": [
                     "PENDING",
                     "PROCESSING",
                     "SUCCESS",
                     "ABORTED",
                     "FAILED",
                     "TRUNCATED"
                  ]
               },
               "receive_time": {
                  "type": "string",
                  "description": "Time at which the request of the report was received.",
                  "example": "2024-02-07T14:22:08+00:00"
               },
               "start_time": {
                  "type": "string",
                  "description": "Time at which the report processing of the report has started.",
                  "example": "2024-02-07T14:22:10+00:00"
               },
               "items_count": {
                  "type": "integer",
                  "description": "Number of records",
                  "format": "int64",
                  "example": 1523
               },
               "_links": {
                  "type": "object",
                  "properties": {
                     "self": {
                        "type": "object",
                        "properties": {
                           "href": {
                              "type": "string",
                              "format": "uri",
                              "example": "https://api.nexmo.com/v2/reports/aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
                           }
                        }
                     },
                     "download_report": {
                        "type": "object",
                        "properties": {
                           "href": {
                              "type": "string",
                              "description": "Download URL",
                              "format": "uri",
                              "example": "https://api.nexmo.com/v3/media/aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
                           }
                        }
                     }
                  },
                  "description": "HAL links"
               }
            },
            "description": "Base response containing report details and status for async requests"
         },
         "SmsFields": {
            "type": "object",
            "properties": {
               "direction": {
                  "required": [
                     "direction"
                  ],
                  "type": "string",
                  "description": "Direction of the communication.",
                  "example": "outbound",
                  "enum": [
                     "inbound",
                     "outbound"
                  ]
               },
               "status": {
                  "type": "string",
                  "description": "The final status of the message delivery filter",
                  "example": "delivered",
                  "enum": [
                     "delivered",
                     "expired",
                     "accepted",
                     "deleted",
                     "unknown",
                     "submitted",
                     "failed",
                     "rejected",
                     "buffered"
                  ]
               },
               "from": {
                  "type": "string",
                  "description": "SMS sent from this phone number. The value specified by the Customer in `from` parameter in SMS request",
                  "example": "447700900001"
               },
               "to": {
                  "type": "string",
                  "description": "Recipient phone number",
                  "example": "447700900000"
               },
               "country": {
                  "type": "string",
                  "description": "The ISO two letter country code",
                  "example": "PL"
               },
               "network": {
                  "type": "string",
                  "description": "The network code of the destination phone number",
                  "example": "12345"
               },
               "client_ref": {
                  "type": "string",
                  "description": "The optional custom reference value",
                  "example": "my-personal-reference"
               },
               "account_ref": {
                  "type": "string",
                  "description": "Account reference.",
                  "example": "customer1234"
               },
               "include_message": {
                  "type": "boolean",
                  "description": "Determines whether the message body is included.",
                  "example": true
               },
               "show_concatenated": {
                  "type": "boolean",
                  "description": "A boolean flag that determines whether the `concatenated` field is included in the report",
                  "example": false
               }
            },
            "description": "SMS"
         },
         "SMS_ASYNC": {
            "description": "SMS",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/SmsFields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "SMS",
                        "enum": [
                           "SMS"
                        ]
                     }
                  }
               }
            ]
         },
         "SmsReportResponse": {
            "description": "SMS",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/SMS_ASYNC"
               }
            ]
         },
         "SmsTrafficControlFields": {
            "type": "object",
            "description": "SMS Traffic Control"
         },
         "SMS-TRAFFIC-CONTROL_ASYNC": {
            "description": "SMS Traffic Control",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/SmsTrafficControlFields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "SMS-TRAFFIC-CONTROL",
                        "enum": [
                           "SMS-TRAFFIC-CONTROL"
                        ]
                     }
                  }
               }
            ]
         },
         "SmsTrafficControlReportResponse": {
            "description": "SMS Traffic Control",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/SMS-TRAFFIC-CONTROL_ASYNC"
               }
            ]
         },
         "VoiceCallFields": {
            "type": "object",
            "properties": {
               "direction": {
                  "type": "string",
                  "description": "Call direction filter",
                  "example": "outbound",
                  "enum": [
                     "inbound",
                     "outbound"
                  ]
               },
               "from": {
                  "type": "string",
                  "description": "Caller number/ID",
                  "example": "12345678912"
               },
               "to": {
                  "type": "string",
                  "description": "Called number",
                  "example": "22345678912"
               },
               "country": {
                  "type": "string",
                  "description": "Country code",
                  "example": "NG"
               },
               "network": {
                  "type": "string",
                  "description": "Mobile network code",
                  "example": "12345"
               },
               "status": {
                  "type": "string",
                  "description": "Call status filter",
                  "example": "ANSWERED",
                  "enum": [
                     "ANSWERED",
                     "MACHINE",
                     "ERROR"
                  ]
               },
               "call_id": {
                  "type": "string",
                  "description": "Unique call identifier",
                  "example": "dfc0c915f38ae6701d7d114cde2556b1-1"
               }
            },
            "description": "Voice API call"
         },
         "VOICE-CALL_ASYNC": {
            "description": "Voice API",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/VoiceCallFields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "VOICE-CALL",
                        "enum": [
                           "VOICE-CALL"
                        ]
                     }
                  }
               }
            ]
         },
         "VoiceReportResponse": {
            "description": "Voice API",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/VOICE-CALL_ASYNC"
               }
            ]
         },
         "VoiceRejectedFields": {
            "type": "object",
            "properties": {
               "direction": {
                  "type": "string",
                  "description": "Call direction filter",
                  "example": "outbound",
                  "enum": [
                     "inbound",
                     "outbound"
                  ]
               },
               "from": {
                  "type": "string",
                  "description": "Caller number/ID",
                  "example": "12345678912"
               },
               "to": {
                  "type": "string",
                  "description": "Called number",
                  "example": "22345678912"
               },
               "country": {
                  "type": "string",
                  "description": "Country code",
                  "example": "PL"
               },
               "call_id": {
                  "type": "string",
                  "description": "Unique call identifier",
                  "example": "dfc0c915f38ae6701d7d114cde2556b1-1"
               }
            },
            "description": "Voice API rejected call"
         },
         "VOICE-FAILED_ASYNC": {
            "description": "Voice Failed",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/VoiceRejectedFields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "VOICE-FAILED",
                        "enum": [
                           "VOICE-FAILED"
                        ]
                     }
                  }
               }
            ]
         },
         "VoiceRejectedReportResponse": {
            "description": "Voice Failed",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/VOICE-FAILED_ASYNC"
               }
            ]
         },
         "VoiceTtsCallId": {
            "type": "string",
            "description": "The unique identifier of the call leg on which the TTS action was performed. Use this field to link a TTS event to the corresponding call leg record in the Voice Calls report (with `product` = `VOICE-CALL`). When `tts_level` is `leg`, `call_id` is the UUID of the exact call leg that received the audio playback. When `tts_level` is `conversation`, `call_id` is the UUID of the first call leg in the conversation that received the TTS. Note: `call_id` is present in all TTS records.",
            "example": "dfc0c915f38ae6701d7d114cde2556b1-1"
         },
         "VoiceTTSFields": {
            "type": "object",
            "properties": {
               "call_id": {
                  "$ref": "#/components/schemas/VoiceTtsCallId"
               }
            },
            "description": "Voice Text-to-Speech (TTS)"
         },
         "VOICE-TTS_ASYNC": {
            "description": "Voice TTS",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/VoiceTTSFields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "VOICE-TTS",
                        "enum": [
                           "VOICE-TTS"
                        ]
                     }
                  }
               }
            ]
         },
         "VoiceTTSReportResponse": {
            "description": "Voice TTS",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/VOICE-TTS_ASYNC"
               }
            ]
         },
         "AsrFields": {
            "type": "object",
            "properties": {
               "direction": {
                  "type": "string",
                  "description": "Call direction filter",
                  "example": "outbound",
                  "enum": [
                     "inbound",
                     "outbound"
                  ]
               },
               "from": {
                  "type": "string",
                  "description": "Caller ID",
                  "example": "12345678912"
               },
               "to": {
                  "type": "string",
                  "description": "Called number",
                  "example": "12345678912"
               },
               "call_id": {
                  "type": "string",
                  "description": "Unique call identifier",
                  "example": "dfc0c915f38ae6701d7d114cde2556b1-1"
               }
            },
            "description": "Automatic Speech Recognition (ASR)"
         },
         "ASR_ASYNC": {
            "description": "Voice ASR",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/AsrFields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "ASR",
                        "enum": [
                           "ASR"
                        ]
                     }
                  }
               }
            ]
         },
         "AsrReportResponse": {
            "description": "Voice ASR",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/ASR_ASYNC"
               }
            ]
         },
         "InAppVoiceFields": {
            "type": "object",
            "properties": {
               "conversation_id": {
                  "type": "string",
                  "description": "Conversation ID",
                  "example": "CON-abc123"
               },
               "status": {
                  "type": "string",
                  "description": "Call termination status",
                  "example": "200"
               },
               "leg_id": {
                  "type": "string",
                  "description": "Unique leg identifier for the call",
                  "example": "aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
               }
            },
            "description": "In-App Voice"
         },
         "IN-APP-VOICE_ASYNC": {
            "description": "In-App Voice",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/InAppVoiceFields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "IN-APP-VOICE",
                        "enum": [
                           "IN-APP-VOICE"
                        ]
                     }
                  }
               }
            ]
         },
         "InAppVoiceReportResponse": {
            "description": "In-App Voice",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/IN-APP-VOICE_ASYNC"
               }
            ]
         },
         "WebsocketFields": {
            "type": "object",
            "properties": {
               "call_id": {
                  "type": "string",
                  "description": "Unique WebSocket call identifier",
                  "example": "dfc0c915f38ae6701d7d114cde2556b1-1"
               }
            },
            "description": "Voice WebSocket Call"
         },
         "WEBSOCKET-CALL_ASYNC": {
            "description": "Voice WebSocket Call",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/WebsocketFields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "WEBSOCKET-CALL",
                        "enum": [
                           "WEBSOCKET-CALL"
                        ]
                     }
                  }
               }
            ]
         },
         "WebsocketReportResponse": {
            "description": "Voice WebSocket Call",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/WEBSOCKET-CALL_ASYNC"
               }
            ]
         },
         "AmdFields": {
            "type": "object",
            "description": "Answering Machine Detection (AMD)",
            "properties": {
               "call_id": {
                  "type": "string",
                  "description": "Unique call identifier",
                  "example": "dfc0c915f38ae6701d7d114cde2556b1-1"
               }
            }
         },
         "AMD_ASYNC": {
            "description": "Voice AMD (Advanced Machine Detection)",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/AmdFields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "AMD",
                        "enum": [
                           "AMD"
                        ]
                     }
                  }
               }
            ]
         },
         "AmdReportResponse": {
            "description": "Voice AMD (Advanced Machine Detection)",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/AMD_ASYNC"
               }
            ]
         },
         "VerifyV1Fields": {
            "type": "object",
            "properties": {
               "to": {
                  "type": "string",
                  "description": "Phone number being verified",
                  "example": "447700900000"
               },
               "network": {
                  "type": "string",
                  "description": "Mobile network code",
                  "example": "20820"
               }
            },
            "description": "Number Verify API"
         },
         "VERIFY-API_ASYNC": {
            "description": "Verify v1",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/VerifyV1Fields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "VERIFY-API",
                        "enum": [
                           "VERIFY-API"
                        ]
                     }
                  }
               }
            ]
         },
         "VerifyReportResponse": {
            "description": "Verify v1",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/VERIFY-API_ASYNC"
               }
            ]
         },
         "VerifyV2Fields": {
            "type": "object",
            "properties": {
               "channel": {
                  "type": "string",
                  "description": "Verification channel",
                  "example": "v2",
                  "enum": [
                     "v2",
                     "email",
                     "silent_auth"
                  ]
               },
               "parent_request_id": {
                  "type": "string",
                  "description": "Filter by parent request ID, which correlates `v2` verification requests with their associated `email` or `silent_auth` events.",
                  "example": "aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
               },
               "to": {
                  "type": "string",
                  "description": "Phone number being verified",
                  "example": "123456789000"
               },
               "locale": {
                  "type": "string",
                  "description": "Language/locale",
                  "example": "en-gb"
               },
               "network": {
                  "type": "string",
                  "description": "Mobile network code",
                  "example": "12345"
               },
               "country": {
                  "type": "string",
                  "description": "Country code",
                  "example": "GB"
               },
               "status": {
                  "type": "string",
                  "description": "Verification status",
                  "example": "SUCCESS"
               }
            },
            "description": "Verify v2 API"
         },
         "VERIFY-V2_ASYNC": {
            "description": "Verify v2",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/VerifyV2Fields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "VERIFY-V2",
                        "enum": [
                           "VERIFY-V2"
                        ]
                     }
                  }
               }
            ]
         },
         "VerifyV2ReportResponse": {
            "description": "Verify v2",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/VERIFY-V2_ASYNC"
               }
            ]
         },
         "NIV1Fields": {
            "type": "object",
            "properties": {
               "number": {
                  "type": "string",
                  "description": "Phone number for Number Insight",
                  "example": "447700900000"
               },
               "network": {
                  "type": "string",
                  "description": "Mobile network code",
                  "example": "23420"
               }
            },
            "description": "Number Insight API"
         },
         "NUMBER-INSIGHT_ASYNC": {
            "description": "Number Insight v1",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/NIV1Fields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "NUMBER-INSIGHT",
                        "enum": [
                           "NUMBER-INSIGHT"
                        ]
                     }
                  }
               }
            ]
         },
         "NIReportResponse": {
            "description": "Number Insight v1",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/NUMBER-INSIGHT_ASYNC"
               }
            ]
         },
         "MessagesFields": {
            "type": "object",
            "properties": {
               "direction": {
                  "required": [
                     "direction"
                  ],
                  "type": "string",
                  "description": "Message direction filter",
                  "example": "outbound",
                  "enum": [
                     "inbound",
                     "outbound"
                  ]
               },
               "status": {
                  "type": "string",
                  "description": "Message status filter",
                  "example": "delivered",
                  "enum": [
                     "submitted",
                     "delivered",
                     "read",
                     "rejected",
                     "undeliverable"
                  ]
               },
               "from": {
                  "type": "string",
                  "description": "Sender",
                  "example": "447700900001"
               },
               "to": {
                  "type": "string",
                  "description": "Recipient",
                  "example": "447700900000"
               },
               "provider": {
                  "type": "string",
                  "description": "Messaging provider",
                  "example": "whatsapp",
                  "enum": [
                     "whatsapp",
                     "sms",
                     "mms",
                     "messenger",
                     "viber_service_msg",
                     "instagram",
                     "rcs",
                     "email"
                  ]
               },
               "country": {
                  "type": "string",
                  "description": "Country code",
                  "example": "ES"
               },
               "include_message": {
                  "type": "boolean",
                  "description": "Include message content",
                  "example": true
               }
            },
            "description": "Messages API"
         },
         "MESSAGES_ASYNC": {
            "description": "Messages API",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/MessagesFields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "MESSAGES",
                        "enum": [
                           "MESSAGES"
                        ]
                     }
                  }
               }
            ]
         },
         "MessagesReportResponse": {
            "description": "Messages API",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/MESSAGES_ASYNC"
               }
            ]
         },
         "ConversationEventFields": {
            "type": "object",
            "properties": {
               "conversation_id": {
                  "type": "string",
                  "description": "Conversation ID",
                  "example": "CON-d01afdc1-7f8c-49d8-9fc0-e92854xxxxx"
               },
               "status": {
                  "type": "string",
                  "description": "Event status",
                  "example": "SUCCESS"
               }
            },
            "description": "Conversation Event API"
         },
         "CONVERSATION-EVENT_ASYNC": {
            "description": "Conversation Event",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/ConversationEventFields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "CONVERSATION-EVENT",
                        "enum": [
                           "CONVERSATION-EVENT"
                        ]
                     }
                  }
               }
            ]
         },
         "ConversationEventReportResponse": {
            "description": "Conversation Event",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/CONVERSATION-EVENT_ASYNC"
               }
            ]
         },
         "ConversationMessageFields": {
            "type": "object",
            "properties": {
               "conversation_id": {
                  "type": "string",
                  "description": "Conversation ID",
                  "example": "CON-d01afdc1-7f8c-49d8-9fc0-e92854xxxxx"
               }
            },
            "description": "Conversation Message API"
         },
         "CONVERSATION-MESSAGE_ASYNC": {
            "description": "Conversation Message",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/ConversationMessageFields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "CONVERSATION-MESSAGE",
                        "enum": [
                           "CONVERSATION-MESSAGE"
                        ]
                     }
                  }
               }
            ]
         },
         "ConversationMessageReportResponse": {
            "description": "Conversation Message",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/CONVERSATION-MESSAGE_ASYNC"
               }
            ]
         },
         "ReportsUsageFields": {
            "type": "object",
            "description": "Reports API usage statistics"
         },
         "REPORTS-USAGE_ASYNC": {
            "description": "Reports Usage",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/ReportsUsageFields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "REPORTS-USAGE",
                        "enum": [
                           "REPORTS-USAGE"
                        ]
                     }
                  }
               }
            ]
         },
         "ReportsUsageReportResponse": {
            "description": "Reports Usage",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/REPORTS-USAGE_ASYNC"
               }
            ]
         },
         "NetworkApiEventFields": {
            "type": "object",
            "properties": {
               "product_name": {
                  "type": "string",
                  "description": "Product name for Network API event",
                  "example": "camara-sim-swap"
               },
               "request_type": {
                  "type": "string",
                  "description": "Type of Network API request",
                  "example": "check"
               },
               "request_session_id": {
                  "type": "string",
                  "description": "Session ID",
                  "example": "aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
               },
               "product_path": {
                  "type": "string",
                  "description": "API path",
                  "example": "/camara/sim-swap/v040/check"
               },
               "correlation_id": {
                  "type": "string",
                  "description": "Correlation ID",
                  "example": "aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
               }
            },
            "description": "Network API Event"
         },
         "NETWORK-API-EVENT_ASYNC": {
            "description": "Network API Event",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/NetworkApiEventFields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "NETWORK-API-EVENT",
                        "enum": [
                           "NETWORK-API-EVENT"
                        ]
                     }
                  }
               }
            ]
         },
         "NetworkApiEventReportResponse": {
            "description": "Network API Event",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/NETWORK-API-EVENT_ASYNC"
               }
            ]
         },
         "VideoApiFields": {
            "type": "object",
            "properties": {
               "session_id": {
                  "type": "string",
                  "description": "Unique video session identifier",
                  "example": "1_LEq_MdtdTrWOfAnId7l8ig-wTs_zs3GTmqn0w0cfPFkWw-rzW2u6FgSOegi0n7TyEMiA"
               },
               "meeting_id": {
                  "type": "string",
                  "description": "Unique meeting identifier",
                  "example": "04384913-bc1d-43df-a720-854b4d43f221"
               }
            },
            "description": "Video API"
         },
         "VIDEO-API_ASYNC": {
            "description": "Video API",
            "allOf": [
               {
                  "$ref": "#/components/schemas/AsyncBaseRequest"
               },
               {
                  "$ref": "#/components/schemas/VideoApiFields"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "VIDEO-API",
                        "enum": [
                           "VIDEO-API"
                        ]
                     }
                  }
               }
            ]
         },
         "VideoApiReportResponse": {
            "description": "Video API",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ReportResponseBase"
               },
               {
                  "$ref": "#/components/schemas/VIDEO-API_ASYNC"
               }
            ]
         },
         "AnyAsyncRequestParams": {
            "description": "Discriminated Union Schema for All Asynchronous Request Parameters (Request Body)",
            "discriminator": {
               "propertyName": "product"
            },
            "oneOf": [
               {
                  "$ref": "#/components/schemas/SMS_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/SMS-TRAFFIC-CONTROL_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/VOICE-CALL_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/VOICE-FAILED_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/VOICE-TTS_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/ASR_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/IN-APP-VOICE_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/WEBSOCKET-CALL_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/AMD_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/MESSAGES_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/VERIFY-API_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/VERIFY-V2_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/NUMBER-INSIGHT_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/CONVERSATION-MESSAGE_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/CONVERSATION-EVENT_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/REPORTS-USAGE_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/NETWORK-API-EVENT_ASYNC"
               },
               {
                  "$ref": "#/components/schemas/VIDEO-API_ASYNC"
               }
            ]
         },
         "AnyReportResponse": {
            "description": "Discriminated Union Schema for All Asynchronous Report Responses",
            "oneOf": [
               {
                  "$ref": "#/components/schemas/SmsReportResponse"
               },
               {
                  "$ref": "#/components/schemas/SmsTrafficControlReportResponse"
               },
               {
                  "$ref": "#/components/schemas/VoiceReportResponse"
               },
               {
                  "$ref": "#/components/schemas/VoiceRejectedReportResponse"
               },
               {
                  "$ref": "#/components/schemas/VoiceTTSReportResponse"
               },
               {
                  "$ref": "#/components/schemas/InAppVoiceReportResponse"
               },
               {
                  "$ref": "#/components/schemas/AsrReportResponse"
               },
               {
                  "$ref": "#/components/schemas/WebsocketReportResponse"
               },
               {
                  "$ref": "#/components/schemas/AmdReportResponse"
               },
               {
                  "$ref": "#/components/schemas/MessagesReportResponse"
               },
               {
                  "$ref": "#/components/schemas/VerifyReportResponse"
               },
               {
                  "$ref": "#/components/schemas/VerifyV2ReportResponse"
               },
               {
                  "$ref": "#/components/schemas/NIReportResponse"
               },
               {
                  "$ref": "#/components/schemas/ConversationEventReportResponse"
               },
               {
                  "$ref": "#/components/schemas/ConversationMessageReportResponse"
               },
               {
                  "$ref": "#/components/schemas/ReportsUsageReportResponse"
               },
               {
                  "$ref": "#/components/schemas/NetworkApiEventReportResponse"
               },
               {
                  "$ref": "#/components/schemas/VideoApiReportResponse"
               }
            ]
         },
         "BaseRecordsResponse": {
            "type": "object",
            "properties": {
               "_links": {
                  "type": "object",
                  "properties": {
                     "self": {
                        "type": "object",
                        "properties": {
                           "href": {
                              "type": "string",
                              "format": "uri",
                              "example": "https://api.nexmo.com/v2/reports/sms/records?product=SMS&direction=outbound&date_start=2024-02-01T00:00:00Z&date_end=2024-02-02T00:00:00Z"
                           }
                        }
                     },
                     "next": {
                        "type": "object",
                        "properties": {
                           "href": {
                              "type": "string",
                              "format": "uri",
                              "example": "https://api.nexmo.com/v2/reports/sms/records?product=SMS&direction=outbound&cursor=MTY0OTQ3ODAwMDAwMA"
                           }
                        },
                        "description": "Link to the next page of records. **Present only if pagination is applicable.**"
                     }
                  },
                  "description": "HAL links for navigation and pagination. The `next` link is only present if more records are available."
               },
               "cursor": {
                  "type": "string",
                  "description": "Cursor for paginating results. **Present only if pagination is applicable.**",
                  "example": "MTY0OTQ3ODAwMDAwMA"
               },
               "iv": {
                  "type": "string",
                  "description": "Initialization vector for cursor processing. **Present only if pagination is applicable.**",
                  "example": "8a2c4e6f-12d3-45b6-78c9-0a1b2c3d4e5f"
               },
               "request_id": {
                  "type": "string",
                  "description": "Unique ID associated with this synchronous request.",
                  "example": "a91b34c2-5d98-4c0e-8f23-a6b1c7d4e9f0"
               },
               "request_status": {
                  "type": "string",
                  "description": "The result status of the request.",
                  "example": "SUCCESS",
                  "enum": [
                     "SUCCESS",
                     "TRUNCATED"
                  ]
               },
               "received_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when the request was processed by the Reports API.",
                  "example": "2024-02-07T14:22:08+00:00"
               },
               "items_count": {
                  "type": "integer",
                  "description": "The number of records returned in this page/response.",
                  "format": "int64",
                  "example": 50
               },
               "ids_not_found": {
                  "type": "string",
                  "description": "A comma-separated list of IDs if the request was made by ID and some were not found.",
                  "example": "id-missing-1,id-missing-2"
               }
            },
            "description": "Base synchronous response containing request metadata and pagination links."
         },
         "SmsOutboundRecordsResponse": {
            "description": "SMS (Outbound)",
            "allOf": [
               {
                  "$ref": "#/components/schemas/BaseRecordsResponse"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "SMS",
                        "enum": [
                           "SMS"
                        ]
                     }
                  }
               },
               {
                  "type": "object",
                  "properties": {
                     "records": {
                        "type": "array",
                        "description": "List of outbound SMS records",
                        "items": {
                           "$ref": "#/components/schemas/SmsOutboundRecord"
                        }
                     }
                  }
               }
            ]
         },
         "SmsInboundRecordsResponse": {
            "description": "SMS (Inbound)",
            "allOf": [
               {
                  "$ref": "#/components/schemas/BaseRecordsResponse"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "SMS",
                        "enum": [
                           "SMS"
                        ]
                     }
                  }
               },
               {
                  "type": "object",
                  "properties": {
                     "records": {
                        "type": "array",
                        "description": "List of inbound SMS records",
                        "items": {
                           "$ref": "#/components/schemas/SmsInboundRecord"
                        }
                     }
                  }
               }
            ]
         },
         "SmsTrafficControlRecordsResponse": {
            "description": "SMS Traffic Control",
            "allOf": [
               {
                  "$ref": "#/components/schemas/BaseRecordsResponse"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "SMS-TRAFFIC-CONTROL",
                        "enum": [
                           "SMS-TRAFFIC-CONTROL"
                        ]
                     }
                  }
               },
               {
                  "type": "object",
                  "properties": {
                     "records": {
                        "type": "array",
                        "description": "List of SMS traffic control records",
                        "items": {
                           "$ref": "#/components/schemas/SmsTrafficControlRecord"
                        }
                     }
                  }
               }
            ]
         },
         "VoiceRecordsResponse": {
            "description": "Voice Call",
            "allOf": [
               {
                  "$ref": "#/components/schemas/BaseRecordsResponse"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "VOICE-CALL",
                        "enum": [
                           "VOICE-CALL"
                        ]
                     }
                  }
               },
               {
                  "type": "object",
                  "properties": {
                     "records": {
                        "type": "array",
                        "description": "List of voice call records",
                        "items": {
                           "$ref": "#/components/schemas/VoiceRecord"
                        }
                     }
                  }
               }
            ]
         },
         "VoiceInAppRecordsResponse": {
            "description": "In-App Voice",
            "allOf": [
               {
                  "$ref": "#/components/schemas/BaseRecordsResponse"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "IN-APP-VOICE",
                        "enum": [
                           "IN-APP-VOICE"
                        ]
                     }
                  }
               },
               {
                  "type": "object",
                  "properties": {
                     "records": {
                        "type": "array",
                        "description": "List of in-app voice call records",
                        "items": {
                           "$ref": "#/components/schemas/VoiceInAppRecord"
                        }
                     }
                  }
               }
            ]
         },
         "VoiceTtsRecordsResponse": {
            "description": "Voice TTS",
            "allOf": [
               {
                  "$ref": "#/components/schemas/BaseRecordsResponse"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "VOICE-TTS",
                        "enum": [
                           "VOICE-TTS"
                        ]
                     }
                  }
               },
               {
                  "type": "object",
                  "properties": {
                     "records": {
                        "type": "array",
                        "description": "List of voice text-to-speech records",
                        "items": {
                           "$ref": "#/components/schemas/VoiceTtsRecord"
                        }
                     }
                  }
               }
            ]
         },
         "VoiceAsrRecordsResponse": {
            "description": "Voice ASR",
            "allOf": [
               {
                  "$ref": "#/components/schemas/BaseRecordsResponse"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "ASR",
                        "enum": [
                           "ASR"
                        ]
                     }
                  }
               },
               {
                  "type": "object",
                  "properties": {
                     "records": {
                        "type": "array",
                        "description": "List of voice automatic speech recognition records",
                        "items": {
                           "$ref": "#/components/schemas/VoiceAsrRecord"
                        }
                     }
                  }
               }
            ]
         },
         "VoiceWebSocketRecordsResponse": {
            "description": "Voice WebSocket Call",
            "allOf": [
               {
                  "$ref": "#/components/schemas/BaseRecordsResponse"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "WEBSOCKET-CALL",
                        "enum": [
                           "WEBSOCKET-CALL"
                        ]
                     }
                  }
               },
               {
                  "type": "object",
                  "properties": {
                     "records": {
                        "type": "array",
                        "description": "List of voice WebSocket streaming records",
                        "items": {
                           "$ref": "#/components/schemas/VoiceWebSocketRecord"
                        }
                     }
                  }
               }
            ]
         },
         "VoiceFailedRecordsResponse": {
            "description": "Voice Failed",
            "allOf": [
               {
                  "$ref": "#/components/schemas/BaseRecordsResponse"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "VOICE-FAILED",
                        "enum": [
                           "VOICE-FAILED"
                        ]
                     }
                  }
               },
               {
                  "type": "object",
                  "properties": {
                     "records": {
                        "type": "array",
                        "description": "List of failed voice call records",
                        "items": {
                           "$ref": "#/components/schemas/VoiceFailedRecord"
                        }
                     }
                  }
               }
            ]
         },
         "VoiceAmdRecordsResponse": {
            "description": "Voice AMD (Advanced Machine Detection)",
            "allOf": [
               {
                  "$ref": "#/components/schemas/BaseRecordsResponse"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "AMD",
                        "enum": [
                           "AMD"
                        ]
                     }
                  }
               },
               {
                  "type": "object",
                  "properties": {
                     "records": {
                        "type": "array",
                        "description": "List of voice AMD records",
                        "items": {
                           "$ref": "#/components/schemas/VoiceAmdRecord"
                        }
                     }
                  }
               }
            ]
         },
         "MessagesOutboundRecordsResponse": {
            "description": "Messages (Outbound)",
            "allOf": [
               {
                  "$ref": "#/components/schemas/BaseRecordsResponse"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "MESSAGES",
                        "enum": [
                           "MESSAGES"
                        ]
                     }
                  }
               },
               {
                  "type": "object",
                  "properties": {
                     "records": {
                        "type": "array",
                        "description": "List of outbound Messages API records",
                        "items": {
                           "$ref": "#/components/schemas/MessagesOutboundRecord"
                        }
                     }
                  }
               }
            ]
         },
         "MessagesInboundRecordsResponse": {
            "description": "Messages (Inbound)",
            "allOf": [
               {
                  "$ref": "#/components/schemas/BaseRecordsResponse"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "MESSAGES",
                        "enum": [
                           "MESSAGES"
                        ]
                     }
                  }
               },
               {
                  "type": "object",
                  "properties": {
                     "records": {
                        "type": "array",
                        "description": "List of inbound Messages API records",
                        "items": {
                           "$ref": "#/components/schemas/MessagesInboundRecord"
                        }
                     }
                  }
               }
            ]
         },
         "VerifyRecordsResponse": {
            "description": "Verify v1",
            "allOf": [
               {
                  "$ref": "#/components/schemas/BaseRecordsResponse"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
                        "type": "string",
                        "example": "VERIFY-API",
                        "enum": [
                           "VERIFY-API"
                        ]
                     }
                  }
               },
               {
                  "type": "object",
                  "properties": {
                     "records": {
                        "type": "array",
                        "description": "List of Verify API records",
                        "items": {
                           "$ref": "#/components/schemas/VerifyRecord"
                        }
                     }
                  }
               }
            ]
         },
         "VerifyV2RecordsResponse": {
            "description": "Verify v2",
            "allOf": [
               {
                  "$ref": "#/components/schemas/BaseRecordsResponse"
               },
               {
                  "type": "object",
                  "properties": {
                     "product": {
[...]
